/* Import Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');.username-simple-text .form-item-username,
/* Username simple test */
.username-simple-text .form-item-username label {
  display: inline-block;
}
.username-simple-text .form-item-username label {
  cursor: pointer;
  padding: 0 6px;
}

/* =============================================
 * RADIO BUTTONS
 =============================================== */
/* =============================================
 * CENTERING, CONTAINER STYLING ETC || IGNORE
 =============================================== */
.username-simple-icon .form-item-username {
  /*text-align: center;*/
  /*margin: 0 auto;*/
  display: inline-flex;
}
.username-simple-icon .form-item-username label {
  cursor: pointer;
  position: relative;
  font-size: 0;
}
.username-simple-icon .form-item-username label::before {
  font-family: 'Material Icons';
  font-size: 32px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.username-simple-icon .form-item-username label + label {
  margin-left: 15px;
}
.username-simple-icon .form-item-username input[type="radio"] {
  opacity: 0;
  position: absolute;
}
.username-simple-icon .form-item-username input[type="radio"] + label {
  position: relative;
  color: #b3cefb;
  border-radius: 50%;
  padding: 12px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  width: 56px;
  height: 56px;
}
.username-simple-icon .form-item-username input[value="name"] + label::before {
  content: '\e7fd';
}
.username-simple-icon .form-item-username input[value="mail"] + label::before {
  content: '\e0be';
}
.username-simple-icon .form-item-username input[value="phone"] + label::before {
  content: '\e9cd';
}
.username-simple-icon .form-item-username input[type="radio"]:focus + label,
.username-simple-icon .form-item-username input[type="radio"]:checked + label {
  color: #d9e7fd;
  background-color: var(--color--primary-40);
}
.username-tab-text .form-boolean-group {
  display: inline-flex;
  padding: 0.5rem;
  background-color: #edf2f7;
}
.username-tab-text .form-item-username {
  display: flex;
}
.username-tab-text .form-item-username,
.username-tab-text .form-item-username label {
  /*display: inline-block;*/
  margin: 0;
}
.username-tab-text .form-item-username label {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: all .4s ease;
}
.username-tab-text .form-item-username input:checked + label {
  color: inherit;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  background-color: #fff;
}
.username-tab-text .form-item-username input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}
.username-tab-text .form-item-username input[type="radio"] {
  opacity: 0;
  position: absolute;
}

/*=====================================
=            SWITCH STYLES            =
======================================*/
.username-animate-text .form-boolean-group {
  display: flex;
  align-items: center;
}
.username-animate-text .form-item-username {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
}
/* Hide inputs */
.username-animate-text .form-item-username input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.username-animate-text .form-item-username label {
  margin: 0 1.5rem;
}
.username-animate-text .form-item-username label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: 2px solid;
  border-radius: 2rem;
  z-index: -1;
  transition: all 0.25s cubic-bezier(0.25, 0.25, 0.5, 1.9);
}
/* Checked */
.username-animate-text .form-item-username input:checked + label {
  padding: 0;
  color: #d9e7fd;
}
.username-animate-text .form-item-username input:checked + label::before {
  width: 100%;
  height: 100%;
  border: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  background-color: var(--color--primary-40);
}

.username-icon-text .form-boolean-group {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.username-icon-text .form-item-username {
  margin-right: 2rem;
}
.username-icon-text .form-item-username,
.username-icon-text .form-item-username label {
  display: flex;
  flex-basis: fit-content;
  flex-direction: column;
  justify-content: space-between;
}
.username-icon-text .form-item-username input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.username-icon-text .form-item-username label {
  cursor: pointer;
  position: relative;
  font-size: 0;
  padding: 0 6px;
  justify-content: center;
  align-items: center;
}
.username-icon-text .form-item-username label::before {
  font-family: 'Material Icons';
  font-size: 32px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.username-icon-text .form-item-username input[type="radio"] + label {
  position: relative;
  color: #b3cefb;
  border-radius: 50%;
  padding: 12px;
  transition: all 0.4s;
  -webkit-transition: background-color 0.4s;
  width: 56px;
  height: 56px;
}
.username-icon-text .form-item-username input[value="name"] + label::before {
  content: '\e7fd';
}
.username-icon-text .form-item-username input[value="mail"] + label::before {
  content: '\e0be';
}
.username-icon-text .form-item-username input[value="phone"] + label::before {
  content: '\e9cd';
}
.username-icon-text .form-item-username input[type="radio"]:focus + label,
.username-icon-text .form-item-username input[type="radio"]:checked + label {
  width: auto;
  font-size: initial;
  color: var(--color--primary-40);
  padding-left: 56px;
  padding-right: 12px;
  border-radius: 0.1875rem;
  background-color: #eeeeee;
}
.username-icon-text .form-item-username input[type="radio"]:focus + label::before,
.username-icon-text .form-item-username input[type="radio"]:checked + label::before {
  left: 0;
  transform: translate(12px, -50%);
}
