[dir="rtl"] input.username,
[dir="rtl"] input.password-generate,
[dir="rtl"] .password-input input[type='text'],
[dir="rtl"] input[type="password"],
[dir="rtl"] input[type="email"],
[dir="rtl"] input[type="tel"] {
  direction: ltr;
  text-align: left;
}
body:not(.path-admin) .password-parent {
  display: inline-block;
}
.password-input {
  position: relative;
  display: inline-flex;
}

#edit-pass input[type="email"],
#edit-pass input[type="text"],
#edit-pass input[type="password"],
#edit-pass .password-input {
  max-width: 570px;
}
.path-admin .password-input {
  width: 100%;
}
.password-input * {
  box-sizing: border-box;
}
.password-input input[type='text'],
.password-input input[type='password'] {
  padding-right: 3rem;
}
[dir="rtl"] .password-input input[type='text'],
[dir="rtl"] .password-input input[type='password'] {
  padding-left: 3rem;
  padding-right: 1.125rem;
}
.password-input-toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.password-input-toggle:focus,
.password-input-toggle:hover {
  opacity: 1;
}
[dir="rtl"] .password-input-toggle {
  left: 12px;
  right: auto;
}
.password-input-toggle svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.password-generate-wrapper {
  display: inline-flex;
  position: relative;
  width: 303px;
}
#block-gin-content .form-item-pass-gen {
  margin-top: 1.5rem;
}
.form-item-pass-gen input,
.form-item-pass-gen .btn {
  display: flex;
}
.form-item-pass-gen input {
  width: calc(100% - 108px);
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #8196a2;
}
[dir="rtl"] .form-item-pass-gen input {
  border-left: 0;
  border-right: 1px solid currentColor;
  border-radius: 0 0.1875rem 0.1875rem 0;
}
.form-item-pass-gen .btn {
  position: relative;
  width: 54px;
  max-height: 54px;
  padding: 0.2rem 0.4rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease 0s;
}
.form-item-pass-gen .btn.update {
  fill: rgb(20, 117, 173);
  border: 0 #899ca8 solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.form-item-pass-gen .btn.copy {
  fill: #ffffff;
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  background-color: #1475ad;
}
[dir="rtl"] .form-item-pass-gen .btn.copy {
  border-radius: 0.1875rem 0 0 0.1875rem;
}
.form-item-pass-gen .btn.copy:focus,
.form-item-pass-gen .btn.copy:hover {
  background-color: #116392;
}
#block-gin-content .form-item-pass-gen .btn.copy {
  border-top-right-radius: var(--gin-border-m);
  border-bottom-right-radius: var(--gin-border-m);
}
[dir="rtl"] #block-gin-content .form-item-pass-gen .btn.copy {
  border-radius: var(--gin-border-m) 0 0 var(--gin-border-m);
}
.form-item-pass-gen .btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 27px;
  display: block;
  object-fit: contain;
  transform: translate(-50%, -50%);
}
.form-item-pass-gen .btn.update svg {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.form-item-pass-gen .btn.update:hover svg,
.form-item-pass-gen .btn.update:focus svg {
  opacity: 1;
}
span.password-clipboard-status {
  display: block;
  width: calc(100% - 108px);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(63, 162, 28, 0.8);
  height: 54px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 2;
  font-weight: 600;
  font-size: 27px;
  letter-spacing: 3px;
}
[dir="rtl"] span.password-clipboard-status {
  left: auto;
  right: 0;
}
div.iti {
  max-width: 303px;
}
.iti__search-input {
  width: 100% !important;
  border-width: 0 !important;
  outline-width: 0px !important;
  outline-style: none !important;
  outline-offset: -1px;
}
