.display-name-firstname-wrapper {
  margin-right: 1rem;
}
.display-name-firstname-wrapper,
.display-name-firstname-wrapper input,
.display-name-lastname-wrapper,
.display-name-lastname-wrapper input {
  width: 100%;
  max-width: 277px;
}
